/* body {
  background-color: #f0f;
} */
.containerBlock {
  display: block;
}
.containerNone {
  display: none;
}
.modal {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  border: 1px solid #d4d9e1;

}
.head {
  height: 45px;
  line-height: 45px;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid #d4d9e1;
}
.content{ 
  height: 100px;
  border-bottom: 1px solid #d4d9e1;
  padding: 20px;
  text-align: left;
}
.footer {
  height: 45px;
  padding-top: 13px;
  padding-left: 200px;
}
.footer div {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d4d9e1;
  margin-right: 20px;
  font-size: 14px
}
.footer .ok {
  background-color: #1890ff;
  color: white;
}